.contacts {
  padding-top: 120px;
  padding-bottom: 120px;
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__info {
  width: 44.1%;
  padding-left: 10px;
}

.contacts p {
  margin: 0;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.contacts address {
  padding-bottom: 33px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.contacts__map {
  width: 48.2%;
  height: 306px;
  background-image: url("../img/map@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/map@2x.png");
  }
}

.contacts__phone {
  color: $main-text-color;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contacts__info {
    width: 47.7%;
    padding-left: 0;
    padding-top: 10px;
  }

  .contacts address,
  .contacts__phone {
    font-size: 16px;
    line-height: 24px;
  }

  .contacts__map {
    width: 47.7%;
    height: 335px;
    margin-right: 30px;
    background-image: url("../img/map-tablet@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-tablet@2x.png");
    }
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    padding-top: 48px;
    padding-bottom: 65px;
  }

  .contacts__wrapper {
    flex-direction: column-reverse;
  }

  .contacts__info {
    width: 100%;
    margin-bottom: 23px;
  }

  .contacts__map {
    width: 100%;
    height: 316px;
    margin: 0;
    background-image: url("../img/map-mobile@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-mobile@2x.png");
    }
  }
}
