.features {
  background-color: $background-main;
  padding: 105px 0;
  padding-bottom: 80px;
  text-align: center;
  background-image: url("../img/features@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/features@2x.png");
  }
}

.features h2 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  padding-bottom: 50px;
}

.features h3 {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.features p {
  margin: 0;
}

.features__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  position: relative;
  margin-bottom: 40px;
  margin-right: 3.448%;
  padding-left: 30px;
  padding-right: 27px;
  padding-top: 77px;
  padding-bottom: 15px;
  width: 31%;
  min-height: 241px;
  background-color: $background-card;
  text-align: left;

  &:last-child,
  &:nth-child(3n) {
    margin-right: 0;
  }

  .features__icon {
    position: absolute;
  }

  &--one .features__icon {
    top: 30px;
    left: 22px;
  }

  &--two .features__icon {
    top: 32px;
    left: 35px;
  }

  &--three .features__icon {
    top: 37px;
    left: 33px;
  }
}

@media (max-width: $tablet-width) {
  .features {
    padding-top: 90px;
    padding-bottom: 60px;
    background-image: url("../img/features-tablet@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/features-tablet@2x.png");
    }
  }

  .features h2 {
    font-size: 26px;
  }

  .features__item {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 16px;
    padding-top: 70px;

    &--one .features__icon {
      top: 20px;
      left: 15px;
    }

    &--two .features__icon {
      top: 25px;
      left: 20px;
    }

    &--three .features__icon {
      top: 28px;
      left: 25px;
    }
  }

  .features h3 {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width: $mobile-width) {
  .features {
    padding-top: 55px;
    padding-bottom: 30px;
    background-image: url("../img/features-mobile@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/features-mobile@2x.png");
    }
  }

  .features h2 {
    font-size: 24px;
    padding-bottom: 27px;
  }

  .features h3 {
    padding-right: 60px;
  }

  .features__list {
    flex-direction: column;
  }

  .features__item {
    padding-bottom: 25px;
    padding-right: 16px;
    width: 100%;
    margin-bottom: 29px;
  }
}
