.header {
  padding-top: 35px;
  color: $light-text-color;
  flex-shrink: 0;
}

.header__toggle {
  display: none;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: $mobile-width) {
  .header {
    padding: 0;
  }

  .header__navigation {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 65px;
    position: absolute;
    top: 0;
    left:0;
    min-width: 280px;
    padding-top: 20px;
  }

  .header__icons {
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header--closed {
    .header__toggle {
      display: block;
      background-color: transparent;
      background-image: url("../img/icon-menu.svg");
      background-size: 24px 12px;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      width: 24px;
      height: 12px;
    }

    .header__list {
      display: none;
    }
  }

  .header--opened {
    background-color: $background-main;

    .header__navigation {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      background-color: $background-main;
      position: absolute;
      z-index: 10;
    }

    .header__toggle {
      display: block;
      background-color: transparent;
      background-image: url("../img/icon-menu-closed.svg");
      background-size: 13px 13px;
      background-repeat: no-repeat;
      border: none;
      width: 13px;
      height: 13px;
    }

    .header__logo-icon {
      fill: $background-contrast;
    }
  }

  .header--nojs {
    background-color: $background-main;

    .header__list {
      color: $main-text-color;
      display: block;
    }

    .header__logo-icon {
      fill: $background-contrast;
    }
  }
}
