.intro {
  padding: 120px 0;
  background-color: $background-main;
}

.intro__wrapper {
  display: flex;
  align-items: center;
}

.intro h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin: 0;
  padding-bottom: 40px;
}

.intro p{
  width: 512px;
  margin-right: 88px;
}

@media (max-width: $tablet-width) {
  .intro {
    padding: 100px 0;
  }

  .intro h2 {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 30px;
  }

  .intro p {
    width: 324px;
  }
}

@media (max-width: $mobile-width) {
  .intro {
    padding: 65px 0;
  }

  .intro__wrapper {
    flex-direction: column;
  }

  .intro p {
    width: 100%;
    margin: 0;
    padding-bottom: 40px;
  }

  .intro img {
    width: 290px;
    height: auto;
  }
}
