.promo {
  color: $light-text-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 200px;
  padding-bottom: 276px;
}

.promo__text {
  padding-left: 95px;
}

.promo h1 {
  margin: 0;
  padding-bottom: 18px;
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
}

.promo p {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: $tablet-width) {
  .promo {
    padding-top: 215px;
  }

  .promo__text {
    padding: 0;
  }

  .promo h1 {
    font-size: 50px;
    line-height: 61px;
    padding-bottom: 11px;
  }

  .promo p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    padding-top: 175px;
    padding-bottom: 180px;

    span {
      display: block;
    }
  }

  .promo__text {
    text-align: left;
    padding-left: 0;
  }

  .promo h1 {
    font-size: 36px;
    line-height: 45px;
  }

  .promo p {
    font-size: 16px;
    line-height: 22px;
    padding-right: 90px;
  }
}
