.social {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 150px;
}

.social__icon {
  fill: $background-main;

  &:hover {
    fill: $light-link-hover;
  }

  &:active {
    fill: $light-link-active;
  }
}

.social__link {
  outline: none;
  word-break: break-all;

  &:focus .social__icon {
    fill: $light-link-active;
  }
}

.social__item {
  margin-right: 33px;
  max-width: 30px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: $tablet-width) {
  .social {
    max-width: 110px;
  }

  .social__item {
    margin-right: 23px;
  }

  .social__icon {
    &--facebook {
      width: 9px;
      height: 16px;
    }

    &--insta {
      width: 16px;
      height: 16px;
    }

    &--twitter {
      width: 16px;
      height: 13px;
    }
  }
}
