.tours {
  text-align: center;
  padding: 120px 0;
}

.tours__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tours__item {
  position: relative;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  margin-bottom: 30px;
}

.tours h2 {
  margin: 0;
  padding-bottom: 60px;
  color: $main-text-color;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}

.tours__image {
  height: 386px;

  &--mobile,
  &--tablet {
    display: none;
  }
}

.tours h3 {
  margin: 0;
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $light-text-color;
  left: 30px;
  bottom: 30px;
}

.tours__text {
  padding-left: 25px;
  padding-top: 35px;
  color: $tour-text-color;
  width: 100%;
  height: 100%;
  background-color: $background-contrast;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  text-align: left;

  h3 {
    position: static;
    padding-bottom: 25px;
  }

  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  p {
    margin: 0;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.tours__button {
  display: block;
  padding-top: 14px;
  padding-bottom: 15px;
  width: 210px;
  background-color: $background-main;
  color: $main-text-color;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-align: center;

  &:hover {
    color: $link-hover;
  }

  &:active,
  &:focus {
    color: $link-active;
  }
}

@media (max-width: $tablet-width) {
  .tours__image {
    &--desktop,
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media (max-width: $mobile-width) {
  .tours__image {
    &--desktop,
    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
