.tours {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.tours__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

.tours__item {
  width: 23.5%;
  margin-right: 3.5%;
  position: relative;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  margin-bottom: 30px;
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);
  margin-right: 2%;

  img {
    height: 100%;
    width: 100%;
  }

  &:nth-child(4n),
  &:last-child {
    margin-right: 0;
  }
}

.tours h2 {
  margin: 0;
  padding-bottom: 60px;
  color: $main-text-color;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}

.tours__image {
  height: 386px;

  &--mobile,
  &--tablet {
    display: none;
  }
}

.tours h3 {
  margin: 0;
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $light-text-color;
  left: 30px;
  bottom: 30px;
}

.tours__text {
  padding: 7% 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $tour-text-color;
  width: 100%;
  height: 100%;
  background-color: $background-contrast;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  text-align: left;

  h3 {
    position: static;
    padding-bottom: 25px;
  }

  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  p {
    margin: 0;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.tours__button {
  display: block;
  padding-top: 14px;
  padding-bottom: 15px;
  width: 100%;
  background-color: $background-main;
  color: $main-text-color;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-align: center;

  &:hover {
    color: $link-hover;
  }

  &:active,
  &:focus {
    color: $link-active;
  }
}

@media (max-width: $tablet-width) {
  .tours {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .tours__item {
    width: 47%;
    margin-right: 6%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .tours__text {
    padding: 35px;
  }

  .tours__image {
    &--desktop,
    &--mobile {
      display: none;
    }

    &--tablet {
      height: 100%;
      display: block;
    }
  }
}

@media (max-width: $mobile-width) {
  .tours {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .tours__list {
    flex-direction: column;
    align-items: center;
  }

  .tours__item {
    width: 270px;
    margin-right: 0;

    img {
      height: auto;
    }
  }

  .tours__text {
    padding: 25px;
  }

  .tours__list {
    justify-content: center;
  }

  .tours__image {
    &--desktop,
    &--tablet {
      display: none;
    }

    &--mobile {
      height: 100%;
      display: block;
    }
  }
}
