.container {
  max-width: 1266px;
  padding: 0 53px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .container {
    padding: 0 45px;
  }
}

@media (max-width: $mobile-width) {
  .container {
    min-width: 320px;
    padding: 0 15px;
  }
}
