* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}


body {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: $main-text-color;
  width: 100%;
  min-width: 280px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
