$main-font: "Montserrat", "Arial", sans-serif;

$main-text-color: #011c40;
$light-text-color: #f9fbfd;

$background-main: #e5e5e5;
$background-contrast: #011c40;

$dark-logo: #011c40;
$light-logo: #f9fbfd;

$tablet-width: 1023px;
$mobile-width: 767px;
