//fonts
$main-font: "Montserrat", "Arial", sans-serif;

//color
$main-text-color: #011c40;
$light-text-color: #f9fbfd;
$tour-text-color: #d8d8d9;

$background-main: #f9fbfd;
$background-contrast: #011c40;

$dark-logo: #011c40;
$light-logo: #f9fbfd;

$background-card: #f9fbfd;
$link-hover: rgba(1, 28, 64, 0.8);
$link-active: rgba(1, 28, 64, 0.6);

$light-link-hover: rgba(249, 251, 253, 0.8);
$light-link-active: rgba(249, 251, 253, 0.6);

//width
$tablet-width: 1023px;
$mobile-width: 767px;
